* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}
.box3 {
  background: #9b59b6;
}
.box4 {
  background: #34495e;
}
.box5 {
  background: #f1c40f;
}
.box6 {
  background: #e67e22;
}
.box7 {
  background: #e74c3c;
}
.box8 {
  background: #bdc3c7;
}
.box9 {
  background: #2ecc71;
}
.box10 {
  background: #16a085;
}

/*    justify-content
.container {
  display: flex;
  justify-content: center;
          flex-end, center, flex-start, space-between, space-around 
  border: 10px solid mistyrose;
  flex-direction: column;
           main axis is default from left to right, but with column, is top to bottom 
  min-height: 100vh;
}

           justify-content- how it is aligned on main axis
*/

/*  align-items
.container {
  display: flex;
  border: 10px solid mistyrose;
  align-items: center;
           flex-start, center, stretch, flex-end, baseline
  height: 100vh;
  flex-direction: column;
}

            align-items is how it is aligned on cross axis (cross axis is default top to bottom) and needs a height to work 

.box1 {
  font-size: 30px;
}

.box3 {
  font-size: 150px;
}

.box6 {
  font-size: 10px;
}
*/

/*    align-content
.container {
  display: flex;
  border: 10px solid mistyrose;
  height: 100vh;
  align-content: center;
             stretch, flex-start, flex-end, space-between, space-around, center 
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 33.333%;
}

             align-content- concerned with cross axis. takes the extra space on the cross axis top to bottom, and splits it up. only works when have multiple lines of code. need some kind of wrap. 

*/

/* align-self */    
.container {
  display: flex;
  border: 10px solid mistyrose;
  height: 100vh;
  align-items: flex-start;
}

.box {
  width: 33.333%;
}

.box2 {
  padding-bottom: 200px;
}

.box6 {
  padding-bottom: 0;
}

.box9 {
  padding-bottom: 50px;
  align-self: center;
  flex-end overwrites the flex-start above 
       center, baseline, stretch
    
}

/*
align-self - is like align-items except can apply on case-to-case basis/ on individual flex item, rathe than the entire flex container. overwrites original align-items.
*/